.jfx-spinner .arc {
    -fx-stroke-width: 3.0;
}

.first-spinner {
    -jfx-radius: 20;
}

.first-spinner .arc {
    -fx-stroke-width: 5.0;
}

.second-spinner {
    -jfx-radius: 30;
}

.second-spinner .arc {
    -fx-stroke-width: 5.0;
}

.third-spinner {
    -jfx-radius: 40;
}

.third-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fourth-spinner {
    -jfx-radius: 50;
}

.fourth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fifth-spinner {
    -jfx-radius: 60;
}

.fifth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.sixth-spinner {
    -jfx-radius: 70;
}

.sixth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.seventh-spinner {
    -jfx-radius: 80;
}

.seventh-spinner .arc {
    -fx-stroke-width: 5.0;
}

.blue-spinner .arc {
    -fx-stroke: #4285f4;
}

.red-spinner .arc {
    -fx-stroke: #db4437;
}

.green-spinner .arc {
    -fx-stroke: #0F9D58;
}

.yellow-spinner .arc {
    -fx-stroke: #f4b400;
}

.materialDesign-purple:indeterminate .arc {
    -fx-stroke: #ab47bc;
}

.materialDesign-blue .arc {
    -fx-stroke: #2962ff;
}

.materialDesign-blue .percentage{
    -fx-fill: #ab47bc;
}

.materialDesign-cyan .arc {
    -fx-stroke: #00b8d4;
}

.materialDesign-green .arc {
    -fx-stroke: #00c853;
}

.materialDesign-green .text{
    visibility: false;
}

.materialDesign-yellow .arc {
    -fx-stroke: #ffd600;
}

.materialDesign-orange .arc {
    -fx-stroke: #ff6d00;
}

.materialDesign-red .arc {
    -fx-stroke: #d50000;
}